<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="../css/modal.css">

		<script type="text/javascript" src="../js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../js/safetyReport.js"></script>
		<script type="text/javascript" src="../js/fetch.js"></script>
	</head>
	<header class="homeheader">
		<h1>打刻</h1>
	</header>
	<body>
		<input data-target="all-ok" class="modal-open" type="button" value="本人、家族、家屋ともに異常なし" />
		<input data-target="im-not-ok" class="modal-open" type="button" value="本人家族異常あり" />
		<input data-target="home-not-ok" class="modal-open" type="button" value="家屋異常あり" />
		<input data-target="yabai" class="modal-open" type="button" value="異常あり" />

		<div class="all-ok modal-content">
			<p>『異常なし』で報告しますか？</p>
			<input class="report-button modal-close" type="button" value="報告" />
			<input class="modal-close" type="button" value="キャンセル" />
		</div>

		<div class="im-not-ok home-not-ok yabai modal-content">
			<p>被害状況を入力してください</p>
			<textarea class="joukyou" placeholder="被害状況を入力してください" ></textarea>
			<input class="report-button modal-close" type="button" value="報告" />
			<input class="modal-close" type="button" value="キャンセル" />
		</div>
<!--
		<div id="home-not-ok" class="modal-content">
			<p>退社打刻しますか？</p>
			<input class="leave-button modal-close" type="button" value="退社" />
			<input class="modal-close" type="button" value="キャンセル" />
		</div>

		<div id="yabai" class="modal-content">
			<p>やばいですか？</p>
			<input class="leave-button modal-close" type="button" value="退社" />
			<input class="modal-close" type="button" value="キャンセル" />
		</div>
-->
	</body>
</html>