<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		<script type="text/javascript" src="../js/timeStamp.js"></script>
	</head>
	<header class="homeheader">
		<h1>打刻</h1>
	</header>
	<body>
		<div class="time">
			<p>現在時刻は
			<span id="currenttime">
				<script>
					var time= new Date();
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();
					document.write(hour+"時"+minute+"分"+second+"秒");
				</script>
			</span>
			です</p>

		</div>
		<input class="arrive" type="button" value="出社" />
		<input class="leave" type="button" value="退社" />
	</body>
</html>