<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="../css/modal.css">

		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
		<script src="https://unpkg.com/vue-cookies@1.5.7/vue-cookies.js"></script>
	</head>
	<header class="homeheader">
		<h1>打刻</h1>
	</header>
	<body>
		<div class="time">
			<p>現在時刻は
			<span id="currenttime">
				<script>
					var time= new Date();
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();
					document.write(hour+"時"+minute+"分"+second+"秒");
				</script>
			</span>
			です</p>

		</div>
		<input data-target="arrive" class="modal-open" type="button" value="出社" />
		<input data-target="leave" class="modal-open" type="button" value="退社" />

		<div id="arrive" class="modal-content">
			<p>出社打刻しますか？</p>
			<input class="arrive-button modal-close" type="button" value="出社" />
			<input class="modal-close" type="button" value="キャンセル" />
		</div>

		<div id="leave" class="modal-content">
			<p>退社打刻しますか？</p>
			<input class="leave-button modal-close" type="button" value="退社" />
			<input class="modal-close" type="button" value="キャンセル" />
		</div>

		<button type="submit" class="loginbutton" onclick="location.href='/PWA/views/safetyReport'" value="安否報告">安否報告</button>
	</body>


	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/timeStamp.js"></script>
	<script type="text/javascript" src="../js/fetch.js"></script>
	<script type="text/javascript" src="../js/json2.js"></script>
</html>